.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "one quotes two";
  height: 100vh;
  background-image: url("/background.png");
  font-size: 30px;
}

.one {
  grid: "one";
  position: relative;
  text-align: right;
}

.two {
  grid: "two";
  position: relative;
}

.pagination {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  color: #fff;
}

.prev {
  right: 0;
}

.pagination:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.quotes {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
}

.quote {
  height: 290px;
  width: 900px;
}

.quote_wrapper {
  position: relative;
  cursor: pointer;
}

.quote_text {
  position: absolute;
  top: 100px;
  left: 100px;
}

.quote_text--reverse {
  left: 240px;
}

.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.speech {
  height: 250px;
}
