.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "one quotes two";
  height: 100vh;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}

.quotes {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.quote {
  height: 290px;
  width: 900px;
}

.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.speech {
  height: 250px;
}
